.product,
.store {
    padding: rem(10) rem(20) rem(15) rem(20);
    width: calc(100% - 5px);

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $light-gray;

        h4 {
            margin: 0;
            border-bottom: 1px solid $green;
        }

        a {
            color: $gray;
            font-size: rem(10);
            text-decoration: none;
        }
    }

    &__carousel {
        width: 100%;
        margin-top: rem(10);
    }

    &__carouesl-item {
        margin-top: rem(3);
    }

    &-img {
        width: rem(100);
        height: rem(100);
        margin: 0 auto;
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.store {
    &-selected {
        img {
            border: 1px solid $green;
        }

        &:after {
            content: '';
            width: rem(20);
            height: rem(20);
            position: absolute;
            top: rem(-3);
            right: rem(-8);
            background-image: url('../../assets/img/default_store.png');
            background-size: contain;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: rem(11);
            font-weight: bold;
            color: black;
            text-align: center;
            margin-top: rem(10);
        }

        a {
            text-decoration: none;
            border: 1px solid $green;
            padding: rem(2) rem(7);
            color: $green;
            font-size: rem(10);
            border-radius: rem(5);
            margin-top: rem(4);
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-top: rem(10);

        .store__carouesl-item {
            flex: 0 0 33.333333%;
            padding-bottom: rem(20);
        }
    }
}

.product {
    &-info {
        p {
            font-size: rem(11);
            font-weight: bold;
            color: black;
            text-align: center;
            padding: rem(7) 0 rem(3) 0;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            position: relative;

            &:after {
                content: "";
                width: rem(18);
                height: rem(1);
                background-color: $green;
                position: absolute;
                bottom: 0;
            }
        }
    }

    &-price {
        font-size: rem(10);
        text-align: center;
        padding: rem(4) 0;

        &__original {
            color: $gray;
            text-decoration: line-through;

            i {
                text-decoration: line-through;

            }
        }

        &__discount {
            color: $red;
        }
    }

    &-cart {
        display: flex;
        justify-content: center;
        align-items: center;

        &__control {
            border: 1px solid $green;
            font-size: rem(8);
            display: flex;
            align-items: center;
            border-radius: rem(4);
            justify-content: center;
            font-weight: bold;
            position: relative;


            .remove-product {
                border-right: 1px solid $green;
            }

            span {
                padding: 0 7px;
                cursor: pointer;
            }

            .add-product {
                border-left: 1px solid $green;
            }

            &:after {
                content: "";
                position: absolute;
                background-image: url('../../assets/img/cart_icon.png');
                width: rem(20);
                height: rem(20);
                background-size: contain;
                right: rem(-25);
                bottom: rem(-2);
            }
        }


    }
}