$ice-blue: #edf0f2;
$gray-08: #242933;
$gray-07: #4a5059;
$blue: #0048d9;
$twilight-blue: #0d3d80;
$night-blue: #061c3f;
$dark-seafoam-green: #47b374;
$light-blue-grey: #c9ced4;
$gray-06: #6c7480;
$cool-grey: #a4abb3;
$light-periwinkle: #dfe2e6;
$macaroni-and-cheese: #f3b63d;
$pale-red: #f0543c;
$black: #000000;
$white: #ffffff;
$light-forest-green: #407f5f;
$very-light-green: #dff2df;
$brownish-orange: #d1961f;
$pale: #faf0d1;
$copper: #cc3f29;
$very-light-pink: #f8e7e4;

$nav-background: #151f33;
$dark1: #2c3547;
$dark2: #444c5c;
$dark3: #5b6270;
$dark4: #737985;
$light1: #e8e9eb;
$light2: #b9bcc2;
$snapp-green: #06df6f;

$footer_height: 72px;
$base-distance: 16px;


$border-grey: #F0F0F0;
$green: #1db159;
$gray: #6E6E6E;
$light-gray: #E5E5E5;
$yellow: #FED337;
$red: #F81505;