body {
  background-color: black;
  background-image: url("../assets/background.jpg");
  font-family: "Nunito", sans-serif;
  background-size: cover;
  min-height: 100vh;
}

body,
p {
  margin: 0;
}

.logo-wrapper {
  text-align: center;
}

.logo-wrapper img {
  width: 120px;
  height: 120px;
}

.logo-wrapper h3 {
  margin: 0;
  padding-bottom: 20px;
  color: #949494;
}

.score-wrapper {
  margin: 0 15px;
}

.score-wrapper .score-card {
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  background: white;
  border-radius: 7px;
}

.score-wrapper .score-card:not(:last-child) {
  margin-bottom: 20px;
}

.score-wrapper .score-card .team-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 1px solid #cacaca;
  margin: 0 15px;
  position: relative;
}

.score-wrapper .score-card .team-wrapper .versus {
  font-size: 14px;
  color: #d60000;
  font-weight: bold;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.score-wrapper .score-card .team-wrapper .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.score-wrapper .score-card .team-wrapper .team img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.score-wrapper .score-card .team-wrapper .team-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5px;
}

.score-wrapper .score-card .team-wrapper .team-name {
  font-size: 13px;
  color: #5d5d5d;
  margin-bottom: 4px;
}

.score-wrapper .score-card .team-wrapper .team .score-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.score-wrapper .score-card .team-wrapper .team .score-details .score {
  font-size: 16px;
  font-weight: bold;
  color: #003390;
  margin-right: 4px;
}

.score-wrapper .score-card .team-wrapper .team .score-details .overs {
  font-size: 12px;
  color: #3e3e3e;
  margin-bottom: 2px;
}

.score-wrapper .score-card .team-wrapper .right img {
  margin-right: 0px;
  margin-left: 10px;
}

.score-wrapper .score-card .team-wrapper .right .team-details {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.score-wrapper .score-card .team-wrapper .right .score-details .score {
  margin-right: 0px;
}

.score-wrapper .score-card .team-wrapper .right .score-details .overs {
  margin-right: 4px;
}

.score-wrapper .score-card .team-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  color: #3e3e3e;
  padding: 7px 15px;
}

.score-wrapper .score-card .team-summary {
  background-color: #dcdcdc;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  font-size: 13px;
  padding: 8px 15px;
  text-align: center;
  font-weight: bold;
  color: #4c4c4c;
  border: none;
  font-family: "Nunito", sans-serif;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  display: block;
}

.score-wrapper .score-card .team-summary span {
  padding: 0 10px;
}

.score-wrapper .upcoming .team-wrapper {
  border-bottom: none;
}

.score-wrapper .upcoming .team-wrapper .team-name {
  color: #656565;
  font-weight: bold;
}

.details {
  margin: 0 15px 15px 15px;
}

.details__header, .details__content, .details__fav {
  background-color: white;
  border-radius: 7px;
}

.details__header {
  padding-bottom: 15px;
}

.details__header .status {
  padding: 0 15px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  background-color: #dcdcdc;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: #b70000;
}

.details__header .status .status-content {
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.details__header .status .show-stat {
  opacity: 1;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.details__header .teams {
  padding: 0 15px;
  position: relative;
}

.details__header .teams-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}

.details__header .teams-score .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details__header .teams-score .detail img {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.details__header .teams-score .detail span {
  font-weight: bold;
  color: #656565;
}

.details__header .teams-score .detail .team-name {
  margin-right: 5px;
}

.details__header .teams-score .score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.details__header .teams-target {
  font-size: 14px;
  padding-top: 10px;
  color: #6b6b6b;
}

.details__header .teams-target span:first-child {
  padding-right: 15px;
}

.details__header .teams .view-summary {
  text-decoration: none;
  color: #003390;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  right: 15px;
  bottom: 0;
}

.details__content {
  margin-top: 15px;
  padding: 10px 0px;
}

.details__content .partnership {
  margin: 0 15px;
  border-bottom: 1px solid #a7a7a7;
}

.details__content .partnership__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  padding-bottom: 10px;
}

.details__content .partnership__column .batsman {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.details__content .partnership__column-values {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details__content .partnership .header {
  font-weight: bold;
  color: #003390;
}

.details__content .partnership .summary {
  font-size: 13px;
  margin-top: 5px;
}

.details__content .bowler {
  margin-top: 10px;
}

.details__content .ball-details {
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details__content .ball-details span {
  font-size: 13px;
}

.details__content .ball-details .slider {
  width: 70%;
}

.details__content .ball-details .slider .run-stats span {
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 30px;
}

.details__content .ball-details .slider .high {
  background-color: #3f51b5;
}

.details__content .ball-details .slider .low {
  background-color: #d04a4a;
}

.details__content .ball-details .slider .mid {
  background-color: #4caf50;
}

.details__fav {
  margin-top: 15px;
  padding: 10px 0px;
  font-size: 15px;
}

.details__fav .fav {
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid #a7a7a7;
  padding-bottom: 10px;
}

.details__fav .fav p {
  font-weight: bold;
  color: #003390;
}

.details__fav .fav-content, .details__fav .fav-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details__fav .fav-content p {
  margin-left: 7px;
}

.details__fav .fav-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details__fav .fav-status .red,
.details__fav .fav-status .green {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-left: 10px;
  font-size: 14px;
}

.details__fav .fav-status .red {
  background-color: #d04a4a;
}

.details__fav .fav-status .green {
  background-color: #4caf50;
}

.details__fav .over-runs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 15px;
  padding-top: 10px;
}

.history .details__header .status {
  height: 65px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.history .details__header .teams-score {
  padding: 0;
  width: 100%;
}

.history .details__header .teams-score .score {
  font-size: 20px;
}

.history .bowlers {
  margin-top: 15px;
  border-bottom: none;
}

.history .bowlers .partnership__column:last-child {
  padding-bottom: 0px;
}

.history .batsman .partnership__column:last-child {
  padding-bottom: 15px;
}

.tabs {
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.tabs input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}

.tab:not(:last-child) label {
  border-bottom: 0.5px solid #7b7b7b;
}

.tab-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}

.tab-label:hover {
  background: #1a252f;
}

.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all .50s;
  transition: all .50s;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  -webkit-transition: all .50s;
  transition: all .50s;
}

.tab-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}

.tab-close:hover {
  background: #1a252f;
}

input:checked + .tab-label {
  background: #1a252f;
}

input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 16px 12px;
}
/*# sourceMappingURL=styles.css.map */