@import "near.store/mixins";
@import "near.store/variables";
@import "near.store/typography";
@import "near.store/nav-style";
@import "near.store/carousel";

*,
::after,
::before {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  body {
    height: 100%;
    width: 100%;
    #root {
      height: 100%;
    }
  }
}
body {
  margin: 0px;
  box-sizing: border-box;
}

.card {
  border-radius: 12px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border: solid 0.5px $light-periwinkle;
  background-color: #fff;
  // padding: 16px;
  margin: $base-distance 0;
}

.divider {
  // width: calc(100% - 32px);
  width: 100%;
  margin: $base-distance auto;
  height: 1px;
  background-color: $light-periwinkle;

  &.long {
    width: 100%;
  }
}

p {
  margin: 0;
}

.list {
  font-size: 12px;
  font-weight: 500;
  padding: 0px $base-distance 0px 0px;
  margin-top: $base-distance;
  margin-bottom: 0;
  list-style: none;
  color: $gray-08;
  li:not(:last-of-type) {
    margin-bottom: $base-distance;
  }

  li:before {
    content: "";
    color: $blue;
    font-size: 30px;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: $blue;
    border-radius: 50%;
    margin-right: -18px;
    margin-left: 8px;
  }

  &.large {
    font-size: 17px;
    font-weight: normal;
    color: $gray-07;
  }

  &.bottom-margin {
    margin-bottom: 40px;
  }
}

.timer {
  color: $pale-red;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin-right: 10px;
    height: 20px;
    width: 20px;
  }

  &.disabled {
    color: #a3abb4;
  }
}

.history-module {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  padding: 12px $base-distance;
}

.heading {
  padding-bottom: $base-distance;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.title-bottom-margin {
  margin-bottom: 46px !important;
}

.description {
  font-size: 12px;
  font-weight: 500;
}

.bottom-margin {
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 16px;
  position: relative;

  .form-control {
    outline: none;
    border: none;
    padding: 22px 8px 0px;
    box-shadow: none;
    width: 100%;
    transition: all 0.3s;
    height: 62px;
    border-radius: 4px 4px 0 0;
    border-bottom: 2px solid #f5f6f7;
    background: #f5f6f7;
    color: $gray-08;
    font-size: 17px;

    &:focus {
      border-color: $blue;

      & + label {
        transform: scale(0.8);
        top: 5px;
      }
    }

    &:valid {
      & + label {
        transform: scale(0.8);
        top: 5px;
      }
    }

    &.invalid {
      border-color: $pale-red;

      & + label {
        color: $pale-red;
      }
    }

    &.valid {
      & + label {
        color: $blue;
      }
    }
  }

  label {
    position: absolute;
    width: 100%;
    right: 8px;
    top: 18px;
    pointer-events: none;
    color: $cool-grey;
    font-size: 17px;
    transition: all 0.3s;
    transform-origin: top right;
  }

  .help-block {
    font-size: 14px;
    color: $gray-06;

    &.error {
      color: $pale-red;
    }
  }
}

.snapp-loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 100%;
  padding-top: 30%;
  animation: showup 0.6s;

  .error-icon {
    width: 60px;
    display: block;
    margin: 0 auto;
  }

  .error-message {
    color: #f0543c;
    text-align: center;
    display: block;
    margin-top: 20px;
    border-radius: 4px;
  }
}

.alert {
  width: 100%;
  padding: 10px;
  font-size: 14px;

  &.alert-error {
    color: $pale-red;
    background: #fcddd8;
  }
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
